<h3  style="margin-top:82px;" class="text-center">Leave Category List</h3>
selected item {{ role_id }}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-hover table-striped table-condensed  text-center">
            <thead>
                <tr>
                    <th class=" text-center">SL No.</th>
                    <th class=" text-center">Role Name</th>
                    <th class=" text-center">Rank</th>
                    <th class=" text-center">Action</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td>1</td>
                    <td>Manager</td>
                    <td>Ist Class</td>
                    <td> 
                        <a href="#/role/2" title="update category" type="button" class="btn btn-default">
                          <span class='glyphicon glyphicon-edit'></span>
                        </a>	
                        <a href="#/role/2" title="remove category"  type="button" class="btn btn-default" onclick="return confirm('Are you sure to delete ? ');">	
                            <span class='glyphicon glyphicon-remove'></span>
                        </a>	
                    </td>
               </tr>
               <tr>
                   <td colspan="3"></td>
                    <td> 
                        <a href="#/category/2" title="remove category"  type="button" class="btn btn-default">	
                            <span class='glyphicon glyphicon-plus'></span>
                        </a>
                    </td>
               </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>


