<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
     
        <h1>Welcome!</h1>
        <p>This is a simple online employee leave management system. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    
    </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Feature</h2>
          <ul>
              <li> Leave application</li>
              <li> Leave approved</li>
              <li> Leave reject</li>
              <li> Leave category</li>
          </ul>    
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Feature</h2>
          <ul>
              <li> Employee Register</li>
              <li> Employee</li>
              <li> Leave reject</li>
          </ul>   
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Feature</h2>
           <ul>
              <li> User login</li>
              <li> User role</li>
              <li> User management</li>
          </ul> 
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr><label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<span ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</span>